<h1>Restablecer tu contrase単a</h1>
<p>Hola <%= @resource.email %>,</p>
<p>Recibiste este correo porque solicitaste restablecer tu contrase単a.</p>
<p>
  Haz clic en el siguiente enlace para cambiar tu contrase単a:
  <%= link_to 'Restablecer contrase単a', "http://localhost:3000/reset-password?reset_password_token=#{@token}" %>
</p>
<p>Si no solicitaste este cambio, ignora este mensaje.</p>
